image: node:latest

stages:
    - install
    - test
    - lint
    - sonar
    - e2eTest


install:
    stage: install
    cache: 
        key: $CI_PROJECT_DIR
        paths:
            - node_modules/
    script:
        - yarn install
    only:
        changes:
            - yarn.lock
test:
    stage: test
    cache: 
        key: $CI_PROJECT_DIR
        paths:
            - node_modules/
        policy: pull
    script:
        - yarn test
    artifacts:
        when: on_success
        paths:
            - reports/test-report.xml
            - coverage/lcov.info
        expire_in: 1 week
    dependencies:
        - install

lint:    
    stage: lint
    cache: 
        key: $CI_PROJECT_DIR
        paths:
            - node_modules/
        policy: pull
    script:
        - yarn lint        
    artifacts:
        when: on_success
        paths:
            - reports/eslint-report.json
        expire_in: 1 week
    dependencies:
        - install

e2eTest:
    stage: e2eTest
    image: docker/compose:debian-1.29.2
    services:
        - docker:dind
    script:
        - apt-get update
        - apt install curl -y
        - curl -sL https://deb.nodesource.com/setup_16.x | bash -
        - apt-get install nodejs npm -y
        - npm install --global yarn
        - yarn install
        - npm run test:e2e:docker
    dependencies:
        - install
        - lint
    rules:
        - if: $CI_PIPELINE_SOURCE == 'merge_request_event'

sonar:
    stage: sonar
    image:
        name: sonarsource/sonar-scanner-cli:latest
        entrypoint: [""]
    variables:
        GIT_DEPTH: 0
        SONAR_PROJECT_BASE_DIR: ./
    script:
        - pwd
        - ls -l
        - sonar-scanner -Dsonar.branch.name=$SONAR_BRANCH -Dsonar.qualitygate.wait=true -Dsonar.projectKey=$SONAR_PROJECT_KEY -Dsonar.organization=$SONAR_ORGANIZATION -Dsonar.sources=$SONAR_SOURCES
    dependencies:
        - install
        - lint
        - e2eTest